{
  "extends": "airbnb/base",
  "rules": {
    // THIS IS SPARTA!!
    "id-length": 0,
    // THIS IS... a hatred of expression-breaking statements
    "no-nested-ternary": 0,
    // console is my friend
    "no-console": 0,
  }
}
