{
  "extends": "airbnb",
  "rules": {
    // THIS IS SPARTA!!
    "id-length": 0,
    // THIS IS... a hatred of expression-breaking statements
    "no-nested-ternary": 0,
    // console is my friend
    "no-console": 0,
    // quotes should be consistent
    "jsx-quotes": [2, "prefer-single"]
  }
}
